/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
button, input, select, textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* PC向け（デスクトップ） */
main {
  padding-top: 6.125rem;
}
.pc_none{
  display: none;
}

/* nav */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.site-nav {
  min-height: 6.125rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav-menu {
  list-style: none;
  display: flex;
}
.site-nav-home a,
.site-nav-menu a{
  padding: 1.5rem 3.75rem;
  transition: color 0.5s ease;
}
.site-nav-home a:hover,
.site-nav-menu a:hover{
  color: #DCDCDC;
}

/* main */
.home-main-content {
  display: flex;
  padding: 6.25rem 3.75rem;
  background-color: #FFFBE6;
}
.home-main-content-img {
  flex: 1;
}
.home-main-content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.swiper-wrapper{
  margin-bottom: 1.875rem;
}
.swiper-pagination{
  display: flex;
  justify-content: center;
  padding: 0 10%;
}
.swiper-pagination-bullet{
  flex: 1;
  border-radius: 0;
  background: rgba(51,51,51,1);
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: rgba(255,215,0,1);
}
.catchphrase {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 5vw;
  line-height: 1.3;
  text-align: left;
}
.home-main-content-text-link{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #1FB4FF;
}
.home-main-content-text-link .link{
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.home-main-content-text-link .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* works */
.home-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  padding: 7.5rem 3.75rem 11.25rem;
}
.home-works-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.home-works-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.home-works-list-item{
  width: 33%;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 3.125rem;
}
.home-works-list-item:nth-last-child(1){
  margin-bottom: 0;
}
.item-img{
  display: block;
  transition: transform 0.3s ease;
}
.item-img:hover{
  transform: translateY(-5px);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 2000;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.popup.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 90%;
  gap: 1.25rem;
  padding: 1.25rem;
}
.popup-content .close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  z-index: 2001;
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.popup-content .close:hover {
  transform: rotate(90deg);
}
.popup-inner{
  position: relative;
  height: 100%;
  flex: 1.5;
}
.popup-inner .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.875rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1001;
  transition: opacity 0.6s ease;
  opacity: 1;
}
.popup-inner .nav-btn:hover{
  opacity: 0.6;
}
.popup-inner #prev {
  left: -1.25rem;
}
.popup-inner #next {
  right:  -1.25rem;
}
.popup-img {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.popup-img img {
  width: 100%;
  max-height: 100%;
  object-fit: contain; 
}
.popup-gallery {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  font-size: 1.25rem;
}
.popup-gallery div {
  margin-bottom: 2rem;
  line-height: 1.25;
}
.popup-gallery .title{
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.popup-gallery .data{
  text-align: right;
}
.popup-gallery .categoly{
  text-align: right;
}
.popup-gallery .categoly span{
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  background-color: #333;
}

/* about */
.home-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  padding: 7.5rem 3.75rem;
  background-color: #FFFBE6;
}
.home-about-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.home-about-content{
  display: flex;
  align-items: flex-start;
  gap: 6.875rem;
  width: 100%;
  max-width: 1010px;
}
 .home-about-content-img{
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-about-content-img img{
  width: 100%;
  height: auto;
  max-width: 250px;
  flex-shrink: 1;
}
.home-about-content-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

/* profile */
.profile-list{
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
.profile-list-label{
  width: 100%;
  max-width: 8.75rem;
  flex: 0 1 auto;
}
.profile-list-separator{
  width: 100%;
  max-width: 1.25rem;
  flex: 0 1 auto;
  text-align: center;
}
.profile-list-value{
  flex: 1;
}

/* contact */
.home-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  padding: 7.5rem 3.75rem 11.25rem;
}
.home-contact-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.home-contact-content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-contact-content .text{
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.home-contact-content .text a{
  color: #1FB4FF;
}
.home-contact-content .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* footer */
.site-footer{
  position: relative;
}
.toppage{
  position: absolute;
  z-index: 1;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.toppage .link{
  display: block;
  transition: transform 0.3s ease;
}
.toppage .link:hover{
  transform: translateY(-5px);
}
.site-footer-content{
  position: relative;
  z-index: 0;
  padding: 1.875rem 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #333;
}


/* スマホ・タブレット向け */
@media (max-width: 1024px) {
  main{
    padding-top: 4.25rem;
  }
  .sp_none{
    display: none;
  }

  /* nav */
  .site-header{
    font-size: 1.5rem;
  }
  .site-header.open{
    box-shadow: none;
  }
  .site-nav{
    position: relative;
    z-index: 3;
    display: block;
    min-height: 4.25rem;
    background-color: #fff;
  }
  .site-nav-home{
    text-align: center;
  }
  .site-nav-menu{
    position: fixed;
    left: -100%;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: .5s;
  }
  .open .site-nav-menu{
    left: 0;
  }
  .site-nav-home a,
  .site-nav-menu a{
    display: block;
    padding: 1rem;
  }
  .site-nav-home a:hover,
  .site-nav-menu a:hover{
    color: #333;
  }
  .toggle_btn {
    display: block;
    position: fixed;
    top: 1.2rem;
    left: 1rem;
    width: 40px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
    transition: all .5s;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 0px;
  }
  .toggle_btn span:nth-child(2) {
    top: 50%;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 0px;
  }
  .toggle_btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(0.75rem) rotate(-45deg);
    transform: translateY(0.75rem) rotate(-45deg);
  }
  .toggle_btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .toggle_btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-0.75rem) rotate(45deg);
    transform: translateY(-0.75rem) rotate(45deg);
  }
  #mask {
    display: none;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
    transition: all .5s;
  }

  /* main */
  .home-main-content{
    display: block;
    padding: 2.5rem 1rem;
  }
  .home-main-content-text{
    display: block;
  }
  .catchphrase{
    margin: 1rem 0;
    font-size: clamp(1.75rem, 5vw, 5vw);
    line-height: 1.25;
    text-align: center;
  }
  .home-main-content-text-link .link{
    font-size: 1rem;
    line-height: 1rem;
  }
  .home-main-content-text-link .icon{
    width: 1rem;
    height: 1rem;
  }

  /* works */
  .home-works{
    gap: 1rem;
    padding: 4.5rem 1rem;
  }
  .home-works-title{
    font-size: 2.5rem;
  }
  .home-works-content{
    display: block;
  }
  .home-works-list{
    display: block;
  }
  .home-works-list-item{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.25;
  }
  .item-img:hover{
    transform: translateY(0);
  }
  .popup-content{
    display: block;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

  }
  .popup-content .close{
    top: 0.25rem;
    right: 0.25rem;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
  }
  .popup-content .close:hover {
    transform: rotate(0deg);
  }
  .popup-inner{
    height: auto;
  }
  .popup-gallery{
    font-size: 1rem;
  }
  .popup-gallery div{
    margin-bottom: 1rem;
  }
  .popup-gallery .title{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .popup-gallery .categoly{
    margin-bottom: 0;
  }

  /* about */
  .home-about{
    gap: 1rem;
    padding: 4.5rem 1rem;
  }
  .home-about-title{
    font-size: 2.5rem;
  }
  .home-about-content{
    display: block;
  }
  .home-about-content-img{
    max-width: 30%;
    margin: 0 auto 1rem;
  }
  .home-about-content-text{
    max-width: 35.25rem;
    margin: 0 auto;
    gap: 1rem;
  }

  /* profile */
  .profile-list{
    gap: 0.25rem;
    font-size: 1rem;
    line-height: 1.25;
  }
  .profile-list-label{
    max-width: 7rem;
  }

  /* contact */
  .home-contact{
    gap: 1rem;
    padding: 4.5rem 1rem 6.5rem;
  }
  .home-contact-title{
    font-size: 2.5rem;
  }
  .home-contact-content .text{
    font-size: 1rem;
    line-height: 1rem;
  }
  .home-contact-content .icon{
    width: 1rem;
    height: 1rem;
  }

  /* footer */
  .toppage{
    max-width: 5rem;
  }
  .toppage .link:hover{
    transform: translateY(0);
  }
  .site-footer-content{
    padding: 1rem 0;
    font-size: 0.75rem;
  }
}
